# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/

# Test/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build/output
dist/
build/
output/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/